@model IEnumerable<Waise.Portal.Models.Academico.Curso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instituicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instituicao.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDCurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IDCurso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IDCurso">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
